python-dotenv
langchain
langchain-deepseek
langchain-community
pinecone-client
langchain-openai
chromadb
langchain_experimental
pyowm
wikipedia
duckduckgo-search
arxiv
gradio
Tool
dotenv
llama_index
llama-index-llms-langchain
llama-index-embeddings-huggingface